header {
    background-color: #e6eef7;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.625rem;
}

.navBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    list-style: none;
    gap: 1.25rem;
}
.navBar ul li{
    font-size: 1.1rem;
    color: #1A202C;
    padding: .3125rem;
    border-radius: .25rem;
}
.navBar ul:first-child li img{
    width: 5rem;
    border-radius: .3125rem;
}
.navBar ul:first-child li:first-child:hover{
    background-color: transparent;

}
.navBar ul:first-child li:hover {
    background-color: #b8c3cf;
}
